---
http_interactions:
- request:
    method: get
    uri: https://json.edhrec.com/pages/commanders/week.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 06 Feb 2026 21:12:04 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - AwqDxwH9500zE5KZ0hrXtMurv3GX1H1c
      Etag:
      - W/"2d2107bed8fa5e27676ba5b62c65556e"
    body:
      encoding: ASCII-8BIT
      string: '{"related_info":[{"header":"Monocolor","items":[{"colors":["w"],"count":214499,"textLeft":"Mono-White","url":"/commanders/mono-white"},{"colors":["u"],"count":224115,"textLeft":"Mono-Blue","url":"/commanders/mono-blue"},{"colors":["b"],"count":310156,"textLeft":"Mono-Black","url":"/commanders/mono-black"},{"colors":["r"],"count":287203,"textLeft":"Mono-Red","url":"/commanders/mono-red"},{"colors":["g"],"count":245282,"textLeft":"Mono-Green","url":"/commanders/mono-green"},{"colors":["c"],"count":66965,"textLeft":"Colorless","url":"/commanders/colorless"}]},{"header":"Two
        Color","items":[{"color[...]
